.App {
  background-color: aqua;
  height: 100vh;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  align-items: center;
  padding: 3px;
}
.Navbar .right .nav-contents {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.Navbar .right {
  width: 50%;
}

.ProductItem {
  background-color: cadetblue;
  padding: 10px;
  margin-top: 5px;
}
.ProductItem div {
  padding: 10px;
}
.rating-wrapper {
  display: flex;
}
.rating-wrapper img {
  width: 20px;
}
.CartItem {
  background-color: cadetblue;
  padding: 10px;
  margin-top: 5px;
}
